body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

section {
  padding: 2rem 0;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0ad4e;
  background-color: aliceblue;
}

footer {
  background-color: #343a40;
}

h1 {
  color: black;
}

#para1 {
  color: blue;
  background-color: beige;
}

#para2 {
  color: green;
  margin-top: 50px;
}

ul.songs li {
  font-style: italic;
}

img {
  float: left;
  border-radius: 2em;
  margin-right: 3em;
}

dic > p {
  font-style: italic;
  color: red;
}
